.header {
    grid-area: h;
    background-color: #bbf1bb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}
.header.clone {
    position: fixed;
    top: -60px;
    transition: 0.2s top ease-in;
}

.Teri {
  color: #333;
}

.menu {
    grid-area: m;
    background-color: #fde886;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    grid-area: c;
    background-color: #8afcf9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
   grid-area: f;
   background-color: #dfb8f8;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   /* align-items: center; */

}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 75px auto 100px;
    grid-template-areas:
        "h h h h h h h h h h h h h h h h"
        "m m m c c c c c c c c c c c c c"
        "f f f f f f f f f f f f f f f f";
}

@media screen and (max-width: 640px) {
    .container {
        grid-template-areas:
            "m m m m m m m m h h h h h h h h"
            "c c c c c c c c c c c c c c c c"
            "f f f f f f f f f f f f f f f f";
    }
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
.hidden {
  opacity:0;
}

.console-container {

  font-family:Khula;
  font-size:4em;
  display:block;
  color:#4f0617;
  height: 50%;

  /* background-color: #3c524a; */
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

@keyframes spincube {
    from,to {
        transform: rotateY(0deg) rotateY(0deg) rotateZ(0deg);
    }
    20% {
        transform: rotateY(-90deg);
    }
    40% {
        transform: rotateY(-180deg);
    }
    58% {
        transform: rotateY(-270deg);
    }
    76% {
        transform: rotateZ(270deg) rotateX(-90deg);
    }
    90%{
        transform: rotateX(90deg);
    }
}

.stage {
  margin-top: 130px;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 14s;
  transform-style: preserve-3d;
  transform-origin: 60px 60px 0;
}

.cubespinner div {
    position: absolute;
    width: 240px;
    height: 240px;
    border: 2px solid #8ECBDE;
    background: rgba(255,255,255,0.6);
    box-shadow: inset 0 0 40px #8ECBDE;
    line-height: 240px;
    text-align: center;
    font-size: 200px;
    color:#55BEDE;
}

.cubespinner .face1/*1*/ {
    transform: translateZ(120px);
}

.cubespinner .face2/*2*/ {
    transform: rotateY(90deg) translateZ(120px);
}

.cubespinner .face3/*5*/ {
    transform: rotateY(90deg) rotateX(90deg) rotateZ(180deg) translateZ(120px);
}

.cubespinner .face4 /*3*/{
    transform: rotateY(180deg) translateZ(120px);
}

.cubespinner .face5 /*4*/{
    transform: rotateY(-90deg) translateZ(120px);
}

.cubespinner .face6/*6*/ {
    transform: rotateX(-90deg) translateZ(120px);
}
