.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: repeat(6, 220px);
}

.a {
   background-color: green;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.b {
   background-color: yellow;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.c {
   background-color: red;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.d {
   background-color: blue;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.e {
   background-color: black;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.f {
   background-color: pink;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.g{
  color: pink;
}
.h{
  color: blue;
}
.i{
  color: black;
}
.j{
  color: red;
}
.k{
  color: green;
}
.l{
  color: yellow;
}
